<?xml version="1.0"?>
<config>
    <modules>
        <KL_BlockEndpoint>
            <version>0.0.1</version>
        </KL_BlockEndpoint>
    </modules>
    <global>
        <helpers>
            <kl_blockendpoint>
                <class>KL_BlockEndpoint_Helper</class>
            </kl_blockendpoint>
        </helpers>
    </global>
    <frontend>
        <routers>
            <kl_blockendpoint>
                <use>standard</use>
                <args>
                    <module>KL_BlockEndpoint</module>
                    <frontName>blockendpoint</frontName>
                </args>
            </kl_blockendpoint>
        </routers>
    </frontend>
</config>